language: erlang
env:
  - ELIXIR="v0.13.3"
  - ELIXIR="v0.14.0"
  - ELIXIR="v0.14.1"
  - ELIXIR="v0.14.2"
  - ELIXIR="v0.15.0"
  - ELIXIR="v0.15.1"
  - ELIXIR="v1.0.0"
otp_release:
  - 17.0
  - 17.1
before_install:
  - mkdir -p vendor/elixir
  - wget -q https://github.com/elixir-lang/elixir/releases/download/$ELIXIR/Precompiled.zip && unzip -qq Precompiled.zip -d vendor/elixir
  - export PATH="$PATH:$PWD/vendor/elixir/bin"
  - mix local.hex --force
  - mix local.rebar
script:
  - mix deps.get
  - mix test
