language: erlang
otp_release:
  - 17.0
before_install:
  - git clone https://github.com/elixir-lang/elixir
  - cd elixir && git checkout v0.13.0 && make && cd ..
before_script: "export PATH=`pwd`/elixir/bin:$PATH"
script: mix local.hex --force && mix local.rebar && mix deps.get && mix test
